.language-select {
  position: relative;
  font-weight: 700;
  transition: color var(--default-transition);
}

.language-select__list {
  position: absolute;
  bottom: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--default-transition);
}

.language-select__list li {
  margin-bottom: 4px;
  transition: color var(--default-transition);
}

.language-select__list.-active {
  opacity: 1;
  pointer-events: auto;
}

/* Hovers */

.language-select__list li:hover {
  color: var(--grey-1);
}

.language-select:hover .language-select__list {
  opacity: 1;
  pointer-events: auto;
}
